{% extends 'layout.html' %}
{% load static%}
{% block content %}

<form action="" method="post">
    {% csrf_token %}
    <table class="table">
        <thead>
            <tr>
              <th scope="col">Item</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
              {% if item is not None%}
                  {% for i in item %}  
                  <tr>  
                     <td>{{i.item.title}}</td>
                    <td>{{i.item.price}}</td>
                   </tr>
                   
                   {% endfor %}
                   
               {% endif %}
               
          </tbody>
    </table>

    <div class="pt-5">
        <label class="text-center h3 ">Delivery Location:</label>
  <input type="text" name="CartItems-location" id="CartItems-location" ><br>
        <label for="pay_amt" class="form-label">Total</label>
        <input type="number" class="form-control" name="pay_amt" value="{{ total }}" id="pay_amt">

    </div>
    <div class="pt-2">
        <input type="submit" value="Pay" class="btn-dark px-5 py-2 mb-4 rounded">
    </div>
</form>

{% endblock %}